<section class="py-12 bg-gray-50">
    <div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">

    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto w-auto" src="/call to action/gd-logo-200.png" alt="genogramm-designer logo" />
    </div>

    <h1 class="py-8 text-center text-xl md:text-2xl">
        {{ pageTitle }}
    </h1>

    <mat-card class="mat-elevation-z2">
        <mat-card-content class="flex items-center justify-center">
            <div class="m-10">
                <div class="mt-6 text-center text-xl">
                    ... Schade, aber wir akzeptieren Ihre Entscheidung!
                </div>
                <div class="mt-6 text-center text-xl">
                    Ihre Kündigung ist bestätigt.
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions class="my-10 flex items-center justify-center">
            <button mat-raised-button class="form-field-full-width" [routerLink]="['/home']" color="accent">
                Zur Hauptseite
            </button>
        </mat-card-actions>
    </mat-card>

</div>