<!-- trump -->
<section class="py-12 bg-gray-50">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <article class="prose prose-lg max-w-none">
            <h1>{{ pageTitle }}</h1>

            <h3>
                Familie: Man liebt sie – und verwechselt sie ständig.
            </h3>
            <p>
                Jeder kennt diese Situation: Familienfeier, volle Party, laute Gespräche. Irgendwo steht eine Frau
                im blauen Kleid. Man lächelt höflich und denkt angestrengt nach:
                Ist das jetzt die Tochter meiner Großtante? Oder doch die Cousine zweiten Grades meines Onkels? Und
                warum kennt sie meinen Namen, ich aber ihren nicht?
            </p>
            <p>
                Schnell wird gemunkelt, geraten und geklatscht – wer gehört zu wem, wer war nochmal mit wem
                verheiratet und wie genau stehen wir eigentlich miteinander in Beziehung? Verwandtschaftsbeziehungen
                sind eben kein Kinderspiel, sondern oft ein echtes Gedankenspiel.
            </p>
            <p>
                Und dabei sind sie im echten Leben wichtiger, als man denkt: Sie prägen unsere Geschichte, unsere
                Beziehungen und oft auch unser Verständnis von uns selbst. Trotzdem wissen wir erstaunlich wenig
                über unsere eigene Familie – und haben viel zu selten Kontakt über den engen Kreis hinaus.
            </p>
            <p>
                Der Genogramm Designer bringt Ordnung ins familiäre Chaos. Klar, übersichtlich und verständlich –
                damit aus <i>„Wer war das nochmal?"</i> endlich <i>„Jetzt ergibt alles Sinn!"</i>&nbsp; wird.
            </p>
            <br />
            <p>
                In der Bundesrepublik Deutschland wird das Grad- und Verwandtschaftsbezeichnungssystem verwendet, um
                Verwandtschaftsgrade darzustellen. Es basiert auf dem Grad der Blutsverwandtschaft oder der
                Eheverbindung zwischen Personen und wird verwendet, um die Beziehung zwischen Familienmitgliedern
                und Verwandten zu beschreiben.
            </p>
            <p>
                Das System gliedert sich in verschiedene Grade, die den Grad der Verwandtschaft angeben. Zum
                Beispiel sind Eltern und Kinder im ersten Grad verwandt, Großeltern und Enkel im zweiten Grad, und
                so weiter. Es gibt auch eine Unterscheidung zwischen gerader Linie (Eltern, Großeltern, Kinder,
                Enkel) und Seitenlinie (Geschwister, Onkel, Tante, Neffen, Nichten) Verwandtschaft.
            </p>
            <p>
                Das Grad- und Verwandtschaftsbezeichnungssystem wird häufig in rechtlichen Angelegenheiten wie
                Erbschaftsfragen oder Unterhaltsansprüchen verwendet, um den Verwandtschaftsgrad zwischen den
                beteiligten Personen klar zu definieren. Es ist auch im Alltag nützlich, um die Beziehung zwischen
                Familienmitgliedern zu beschreiben oder um herauszufinden, wie Personen miteinander verwandt sind.
            </p>
        </article>
    </div>
</section>

<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div
        class="relative px-4 md:px-8 py-6 md:py-8 bg-white shadow-lg rounded-lg w-full max-w-full md:max-w-5xl mx-auto">
        <div class="max-w-5xl mx-auto">

            <app-leaflet-viewer [images]="images" [showNavigation]="true" [showDownloadButton]="true"
                (downloadClicked)="onDownload($event)">
            </app-leaflet-viewer>

        </div>
    </div>
</div>

<app-call-to-action />