<div class="bg-gray-100 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <h1 class="text-2xl my-10">
                {{ pageTitle }}
            </h1>

            <div class="text-base mb-4">
                Zurzeit überarbeiten wir diesen Bereich.
                <br /> Zukünftig können Sie hier Ihre Bestellung aufgeben, Ihre Rechnung und Ihre
                Genogramm Deigner Lizenzdatei herunterladen.
            </div>
            <div class="text-base mb-4">
                Im Augenblick möchten wir Sie bitten eine mögliche Bestellung kurz per E-Mail aufzugeben.
            </div>
            <div class="text-base mb-4">
                Vielen Dank.
            </div>
        </div>
    </div>
</div>