.example-container {
    /* position: relative; */
    min-height: 300px;
    padding: 16px;
    width: 80%;
    margin: 30px auto;
  }
    
  .example-container1 {
    padding: 16px;
    width: 80%;
    margin: 30px auto;
  }
  
  .mat-tab-container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 80%;
    margin: 10px auto;
  }

  .ohnohoney{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}