<div class="min-h-full flex flex-col justify-center py-12 px-6 lg:px-8">

    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto w-auto" src="/call to action/gd-logo-200.png" alt="genogramm-designer logo" />
    </div>

    <h1 class="py-8 text-center text-xl md:text-2xl">
        {{ pageTitle }}
    </h1>

    <mat-card class="sm:mx-auto sm:w-full sm:max-w-md">
        <form #regForm="ngForm" novalidate [formGroup]="form" (ngSubmit)="submitForm(form.value)">
            <mat-card-content>
                <mat-form-field class="form-field-full-width">
                    <mat-label>Kennwort</mat-label>
                    <input matInput matInput #_password placeholder="Neues Kennwort" formControlName="password">
                    <mat-hint align="end" aria-live="polite">
                        {{_password.value.length}} / 50 Zeichen
                    </mat-hint>
                    @if (errorHandling('password', 'required')) {
                    <mat-error>
                        Pflichteingabefeld
                    </mat-error>
                    }
                    @if (errorHandling('password', 'maxlength')) {
                    <mat-error>
                        Die max. Länge für dieses Feld beträgt 50 Zeichen!
                    </mat-error>
                    }
                    @if (errorHandling('password', 'minlength')) {
                    <mat-error>
                        Die minimale Länge für ein Kennwort beträgt 8 Zeichen!
                    </mat-error>
                    }
                    @if (errorHandling('password', 'hasNumber')) {
                    <mat-error>
                        Das Kennwort muss mindestens eine Zahl enthalten
                    </mat-error>
                    }
                    @if (errorHandling('password', 'hasCapitalCase')) {
                    <mat-error>
                        Das Kennwort muss mindestens einen Großbuchstaben enthalten
                    </mat-error>
                    }
                    @if (errorHandling('password', 'hasSmallCase')) {
                    <mat-error>
                        Das Kennwort muss mindestens einen Kleinbuchstaben enthalten
                    </mat-error>
                    }
                    @if (errorHandling('password', 'hasSpecialCharacters')) {
                    <mat-error>
                        Das Kennwort muss mindestens ein Sonderzeichen enthalten
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="form-field-full-width">
                    <mat-label>Bestätigung Kennwort</mat-label>
                    <input matInput #_confirmPassword placeholder="Bestätigung" formControlName="confirmPassword">
                    <mat-hint align="end" aria-live="polite">
                        {{_confirmPassword.value.length}} / 50 Zeichen
                    </mat-hint>
                    @if (errorHandling('confirmPassword', 'NoPassswordMatch')) {
                    <mat-error>
                        Die Kennworte stimmen nicht überein
                    </mat-error>
                    }
                </mat-form-field>
            </mat-card-content>

            <label class="ohnohoney" for="feld"></label>
            <input class="ohnohoney" autocomplete="off" type="text" placeholder="Fliegenfalle" formControlName="feld">

            <mat-card-actions align="end">
                <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Übernehmen</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>