<div class="p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <h1 class="mb-6  text-xl md:text-2xl">
                {{ pageTitle }}
            </h1>

            <mat-accordion class="py-4">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="text-base xl:text-lg py-2">
                            Was kostet die Registrierung?
                        </div>
                    </mat-expansion-panel-header>
                    <div class="text-xs md:text-base">
                        <p>
                            Nichts. Die Registrierung ist kostenlos.
                        </p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="text-base xl:text-lg py-2">
                            Welche Verpflichtungen gehe ich mit dieser Registrierung ein?
                        </div>
                    </mat-expansion-panel-header>
                    <div class="text-xs md:text-base">
                        <p>
                            Keine. Ihre Registrierung ist unverbindlich und Sie sind zu keinen weiteren Handlungen
                            verpflichtet. Mit der Registrierung melden Sie sich nicht automatisch an einem Newsletter
                            Service an.
                        </p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="text-base xl:text-lg py-2">
                            Warum muss ich bei der Registrierung persönliche Daten bekannt geben?
                        </div>
                    </mat-expansion-panel-header>
                    <div class="text-xs md:text-base">
                        <p>
                            Die korrekte Angabe Ihrer Daten ist Voraussetzung, um unser Angebot nutzen zu können.
                        </p>
                        <p>
                            Wir benötigen Ihre Daten ausschließlich für die schnelle Bearbeitung einer möglichen
                            Bestellung des Genogramm Designer. Aus diesem Grund werden Anfragen mit falschen und/oder
                            unvollständigen Angaben nicht berücksichtigt.
                        </p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="text-base xl:text-lg py-2">
                            Wie lange werden meine Daten gespeichert?
                        </div>
                    </mat-expansion-panel-header>
                    <div class="text-xs md:text-base">
                        <p>
                            Nach der Registrierung wird Ihr Kundenkonto für vier Wochen freigeschaltet und ist aktiv.
                            Erfahrungsgemäß entschließt sich ein Interessent binnen vier Wochen zum Kauf unseres
                            Genogramm
                            Designers.
                        </p>
                        <p>
                            Nach diesem Zeitraum bleibt das Account zunächst für weitere zwei Monate erhalten wird
                            jedoch
                            von uns de-aktiviert. Kommt es im Zeitraum von drei Monaten nach Registrierung nicht zu
                            einem
                            Kauf des Genogramm Designer wird das Konto geschlossen und alle Daten werden gelöscht.
                        </p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- <div class="text-center text-xl text-gray-700 py-6">
                Hinweise zur Installation des Genogramm Designers
            </div> -->

            <mat-accordion class="py-4">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="text-base xl:text-lg py-2">
                            Welche Einschränkungen bestehen in der Testversion?
                        </div>
                    </mat-expansion-panel-header>
                    <div class="text-xs md:text-base">
                        <p>
                            Die Testversion kann nur für eine bestimmte Zeitperiode benutzt werden.
                        </p>
                        <p>
                            Beim Druck und Export von Genogrammen wird ein Wasserzeichen in Form eines Schriftzuges
                            'Testversion Genogramm Designer' ausgegeben.
                        </p>
                        <p>
                            Mit der Testversion erstellte Genogramme können selbstverständlich mit der Vollversion
                            geöffnet und bearbeitet werden.
                        </p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="text-base xl:text-lg py-2">
                            Wie installiere ich den Genogramm Designer?
                        </div>
                    </mat-expansion-panel-header>
                    <div class="text-xs md:text-base">
                        <p>
                            Folgende Schritte sind notwendig, um den Genogramm Designer unter einem Windows
                            Betriebssystem zu installieren:
                        </p>
                        <ol class="ml-8 list-decimal">
                            <li>
                                Laden Sie den Genogramm Designer über unsere Website herunter. Wählen Sie die gewünschte
                                Version aus und mit einem Klick auf die entsprechende Schaltfläche startet der Download.
                                Abhängig von Ihrer Internetverbindung dauert der Download nur wenige Augenblicke, der
                                Fortschritt wird angezeigt.
                            </li>
                            <li>
                                Entpacken Sie die Datei ‚Genogramm Designer.zip‘ in dem Verzeichnis in dem die Datei
                                gespeichert wurde.
                            </li>
                            <li>
                                In dem jetzt neu erstellten Verzeichnis finden Sie zwei Dateien. Führen Sie einen
                                Doppelklick auf die Datei ‚Setup.exe‘ aus. Das Programm wird installiert.
                            </li>
                        </ol>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="text-base xl:text-lg py-2">
                            Wie entzippe ich eine Datei?
                        </div>
                    </mat-expansion-panel-header>
                    <div class="text-xs md:text-base">
                        <p class="mt-4 font-bold">
                            Mit Windows Boardmitteln
                        </p>
                        <p>
                            Klicken Sie mit der rechten Maustaste auf die Datei, die Sie entpacken möchten und wählen
                            Sie im Kontextmenü den Punkt "Alle extrahieren" aus.
                        </p>
                        <p>
                            Es öffnet sich ein Fenster, in dem Sie den gewünschten Speicherort der extrahierten Dateien
                            wählen können. Mit der Schaltfläche "Extrahieren" wird die Zip-Datei extrahiert.
                        </p>
                        <p class="mt-4 font-bold">
                            Mit einem ‚Entpacker Programm‘
                        </p>
                        <p>
                            Während Sie mit den oben genannten Boardmitteln Ihre Zip-Dateien entpacken können, bieten
                            Programme anderer Hersteller weitere Funktionen und Tools, die Ihre Arbeit erleichtern
                            können.
                        </p>
                        <p>
                            7-Zip: Mit dem kostenlosen Programm 7-Zip können Sie Zip Dateien einlesen, bearbeiten,
                            verschlüsseln, packen und extrahieren. Neben den Formaten .zip erlaubt es auch eine Vielzahl
                            anderer Dateiendungen.
                        </p>
                        <p>
                            WinRAR: Auch mit dem Programm WinRAR können Sie alle relevanten Funktionen von Dateiarchiven
                            freischalten. WinRAR funktioniert dabei ähnlich zu 7-Zip und bietet fast dieselben
                            Funktionen. Während WinRAR nur eine 40 Tägige kostenlose Testversion bietet, kann das
                            Programm auch danach ohne Einschränkung weiter genutzt werden.
                        </p>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>