<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto">
        <article class="prose prose-lg max-w-none">
            <h1>{{ pageTitle }}</h1>

            <h2>Beachtung eigener und fremder Rechte</h2>

            <p>
                Bitte beachten Sie, dass sämtliche Bilder auf dieser Seite dem Urheberrecht unterliegen und eine Nutzung – gleich welcher Art – ohne schriftliche Genehmigung nicht zulässig ist.
            </p>
            
            <p>
                Alle Fotos, Grafiken, Illustrationen und Genogramme (mit der Ausnahme der im Folgenden genannten Bilder) auf dieser Webseite wurden von e!Doc Systems erstellt, bei der auch die Bildrechte liegen.
            </p>

            <p>
                -> z.Z. keine vorhanden
            </p>
            
        </article>
    </div>
</div>
