<div class="p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <h1 class="mb-6 text-xl md:text-2xl">
                {{ pageTitle }}
            </h1>

           <div class="title-font text-xl text-gray-900 mt-10">
                Beachtung eigener und fremder Rechte
            </div>

            <div class="text-base  text-gray-600 mt-2">
                <div>
                    Bitte beachten Sie, dass sämtliche Bilder auf dieser Seite dem Urheberrecht unterliegen und eine Nutzung – gleich welcher Art – ohne schriftliche Genehmigung nicht zulässig ist.
                </div>
                
                <div>
                    Alle Fotos, Grafiken, Illustrationen und Genogramme (mit der Ausnahme der im Folgenden genannten Bilder) auf dieser Webseite wurden von e!Doc Systems erstellt, bei der auch die Bildrechte liegen.
                </div>
            </div>

            <h1 class="title-font text-xl text-gray-900 mt-6">Bildnachweise Fotolia.com</h1>
            <ul class="menu bg-base-200 rounded-box mt-2 mb-4">
                <li> <a class="text-base text-gray-600 ">Fotolia_96342109_XS © denisismagilov – Fotolia.com</a> </li>
            </ul>

        </div>
    </div>
</div>
