
<!-- freund -->
<section class="py-12 bg-gray-50">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <article class="prose prose-lg max-w-none">
            <h1>{{ pageTitle }}</h1>

            <p>
                Sigmund Freud war ein österreichischer Neurologe und der Begründer der Psychoanalyse, einer
                bahnbrechenden Theorie über die menschliche Psyche und das Unbewusste. Sigmund Freud wurde am 6. Mai
                1856 in Freiberg, Mähren (heute Teil von
                Tschechien), geboren. Seine Familie zog später nach Wien, wo er den Großteil seines Lebens
                verbrachte.
            </p>
            <p>
                Freud studierte Medizin an der Universität Wien und spezialisierte sich auf Neurologie. Er arbeitete
                zunächst als Kliniker und forscht über das Nervensystem, bevor er sich auf die Behandlung von
                psychischen Störungen konzentrierte.
            </p>
            <p>
                In den 1890er Jahren begann Freud, seine bahnbrechende Theorie der Psychoanalyse zu entwickeln. Er
                postulierte, dass das Unbewusste einen entscheidenden Einfluss auf das menschliche Verhalten hat und
                dass psychische Probleme oft auf unterdrückte Konflikte und Triebe zurückzuführen sind.
            </p>
            <p>
                Während des Dritten Reichs wurde die Familie Freud, wie viele andere jüdische Familien, von den
                Nationalsozialisten verfolgt. Während Sigmund Freud, seine Frau Martha und seine Tochter Anna 1938
                aus Wien fliehen konnten, wurden die zurückgebliebenen vier seiner fünf Schwestern, Regine Debora,
                Marie, Esther Adolfine und Pauline Regina 1942/43 Opfer des Holocaust.
            </p>
        </article>
    </div>
</section>

<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div
        class="relative px-4 md:px-8 py-6 md:py-8 bg-white shadow-lg rounded-lg w-full max-w-full md:max-w-5xl mx-auto">
        <div class="max-w-5xl mx-auto">

            <app-leaflet-viewer [images]="images" [showNavigation]="true" [showDownloadButton]="true"
                (downloadClicked)="onDownload($event)">
            </app-leaflet-viewer>

        </div>
    </div>
</div>

<app-call-to-action />