<div class="bg-gray-100 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <h1 class="mb-6 text-xl md:text-2xl">
                Texte und Textblöcke
            </h1>
            <div class="flex justify-center items-center mt-8">
                <img mat-card-image src="texte/textfeld_rotation.png" width="804" height="468" sizes="100vw" priority
                    alt="Textfeld positionieren">
            </div>
            <p class="text-base mt-4">
                Ein Genogramm besteht nicht nur aus Symbolen und Beziehungen. In der Regel ist es unerlässlich,
                wesentliche Informationen als Text in das Genogramm einzutragen. Hierfür bietet der Genogramm
                Designer Textfelder an, die individuell angepasst und positioniert werden können.
            </p>
            <div class="flex justify-center items-center mt-8">
                <img mat-card-image src="/texte/textfeld_kontextmenue.png" width="804" height="468" sizes="100vw"
                    priority alt="Textfeld Kontextmenü">
            </div>
            <p class="text-base mt-4">
                Jedes Textfeld enthält ein Kontextmenü, welches durch einen einfachen Rechtsklick mit der Maus
                geöffnet wird. Über die im Kontextmenü enthaltenen Funktionen kann der eingegebene Text
                individuell angepasst werden.
            </p>
            <p class="text-base mt-4">
                Es stehen alle installierten Schriften und Farben zur Auswahl. Zudem kann der Rand ein- bzw.
                ausgeblendet werden, und es steht eine Funktion zur automatischen Größenanpassung zur Verfügung.
            </p>
        </div>
    </div>
</div>

<div class="bg-gray-100 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                Bilder und Grafiken
            </h1>
            
            <img class="h-auto max-w-full" mat-card-image src="/web/Heinrich VIII mit Ehefrauen und leiblichen Kindern web.png"
            alt="Heinrich VIII mit Ehefrauen und leiblichen Kindern">

            <p class="text-base mt-4">
                Neben den Textfeldern stehen dem Benutzer zusätzlich Bildobjekte zur Verfügung, über die alle
                gängigen Bildformate in ein Genogramm übernommen werden können.
            </p>

            <p class="text-base mt-4">
                Oben ist ein Diagramm von Heinrich VIII zu sehen, hier werden Bilder zur Darstellung benutzt.
                (Das Diagramm in Originalgröße finden Sie unter unseren Beispielen)
            </p>
        </div>
    </div>
</div>

<div class="bg-gray-100 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <div class="container mx-auto flex px-4 py-4 md:flex-row flex-col items-center">
                <div class="w-full md:w-1/2">
                    <img class="object-cover object-center rounded" src="/call to action/665shots_so.png"
                        alt="genogramm designer logo">
                </div>

                <div class="flex flex-col w-full md:w-1/2 md:items-start md:text-left items-center text-center">
                    <div class="text-xl md:text-2xl">
                        Fordern Sie Ihre <br> persönliche Testversion an!
                    </div>
                    <p class="text-base mt-4">
                        Überzeugen Sie sich vor dem Kauf von der Leistungsfähigkeit des ‘Genogramm Designer’. Fordern
                        Sie Ihre kostenlose Testversion an und testen Sie das Programm 14 Tage auf ‘Herz und Nieren’.
                        <br>
                        Kostenfrei und natürlich ohne Verbindlichkeiten.
                    </p>
                    <p class="text-base mt-4">
                        Nach der Registrierung erhalten Sie Ihre Zugangsdaten und weitere Informationen per E-Mail.
                    </p>
                    <button [routerLink]="['/register']"
                        class="flex mx-auto mt-10 py-2 px-8 text-lg text-white bg-green-700">
                        Zur Testversion
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>