<div class="bg-gray-100 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <h1 class="mb-6 text-xl md:text-2xl">
                {{ pageTitle }}
            </h1>

            <div class="text-lg mb-6">
                Ihr Werkzeug zur professionellen Erstellung von Genogrammen & Soziogrammen
            </div>

            <div class="text-base mb-4">
                <p class="mb-3">
                    Der Genogramm Designer ist eine Windows-Desktop-Anwendung, die die Erstellung, Bearbeitung und
                    Speicherung von Genogrammen auf
                    professionelle Weise ermöglicht. Basierend auf den anerkannten Arbeiten von Monica McGoldrick,
                    bietet unser Programm alle notwendigen Symbole, um Ihnen eine präzise und umfassende
                    Darstellung von Familienstrukturen und -dynamiken zu ermöglichen.
                </p>

                <p class="mb-3">
                    Das Programm wurde gemeinsam mit einer großen sozialpädagogischen Familienhilfen Einrichtung
                    entwickelt, die sowohl fachlich als auch mit ganz praktischen Hinweisen betratend tätig war. Auf
                    Benutzerfreundlichkeit und einfache Bedienung wurde seit dem Entwicklungsstart geachtet.
                </p>
                <p class="mb-3">
                    Der Genogramm Designer verfügt über eine intuitive Benutzeroberfläche und ist im Stil der
                    Office-Produkte gestaltet, was sofort eine vertraute und benutzerfreundliche Umgebung bietet.
                </p>
            </div>

            <div class="flex justify-center items-center mb-4">
                <img height="200" width="400" src="/uebersicht/programm-start_1.png"
                    alt="Genogramm Designer Benutzeroberfläche">
            </div>

            <div class="text-base mb-4">
                <div class="mt-4 mb-3">
                    Die Benutzeroberfläche des 'Genogramm Designer' teilt sich in drei Bereiche:
                </div>
                <ol class="ml-8 list-decimal mb-4">
                    <li class="mb-3">
                        Insgesamt acht übergeordnete Menüs werden am oberen Rand der Ansicht
                        angezeigt. Das Menüsystem gestattet den Zugriff auf die Funktionen und
                        Werkzeuge des Programms.
                    </li>
                    <li class="mb-3">
                        Am linken Rand wird ein Container angezeigt, der die verfügbaren Symbole und
                        Symbolpaletten enthält. Ausführliche Informationen zu den Symbolen finden Sie auf dieser <a
                            class="text-green-800" [routerLink]="['/programm/symbolpaletten']">
                            Seite.
                        </a>
                    </li>
                    <li class="mb-3">
                        Der verbleibende Teil dient ebenfalls als Container, in dem Genogramme erstellt und
                        bearbeitet werden können. Es ist also möglich mehrere Genogramme parallel zu bearbeiten.
                    </li>
                </ol>
                <div>
                    Neben den genannten Hauptbereichen wird am untersten Rand des Formulars
                    eine Statusleiste mit Benutzerinformationen angezeigt.
                </div>
            </div>

        </div>
    </div>
</div>