<section class="py-12 bg-gray-50">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-5xl mx-auto">

            <article class="prose prose-lg max-w-none">
                <h1>{{ pageTitle }}</h1>

                <p>
                    Genogramme und Familienstammbäume werden in den verschiedensten Fachbereichen, wie z.B. der
                    systemischen Familienhilfe, der Psychologie, der Medizin und ganz allgemein in der Familien- und
                    Ahnenforschung eingesetzt. Der Genogramm Designer passt sich dabei den unterschiedlichen
                    fachlichen Anforderungen des jeweiligen Nutzers an.
                </p>
                <p>
                    Anhand der auf dieser Seite dargestellten Genogramme und Stammbäume können Sie sich einen ersten
                    Eindruck vom Leistungsvermögen des Genogramm Designers verschaffen.
                </p>
                <p>
                    Bitte beachten Sie:<br>
                    Die hier dargestellten Diagramme erheben keinen Anspruch auf Vollständigkeit oder Richtigkeit.
                </p>
            </article>
        </div>
    </div>
</section>

<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div
        class="relative px-4 md:px-8 py-6 md:py-8 bg-white shadow-lg rounded-lg w-full max-w-full md:max-w-5xl mx-auto">
        <div class="max-w-5xl mx-auto">

            <p class="text-xl mt-6">
                Familie Mustermann
            </p>

            <div class="flex justify-center items-center mt-8 h-auto max-w-full">
                <!-- <app-image-slider [indicatorsVisible]="true" [animationSpeed]="100" [slides]="images" [autoPlay]="true" [autoPlaySpeed]="3000">
                </app-image-slider> -->
                <!-- Mit Play/Pause Controls und Stop nach einer Sequenz -->
                <app-image-slider [slides]="images" [autoPlay]="true" [stopAfterSequence]="true"
                    [showPlayControls]="true">
                </app-image-slider>

            </div>

        </div>
    </div>
</div>


<app-call-to-action />
