<mat-toolbar class="mat-elevation-z6" color="primary">
  <button mat-icon-button class="menu" aria-label="Menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>
    {{title}}
  </h1>

  <span style="flex: 1 1 auto;"></span>

  <!-- ueber -->
  <button class="mr-2 md:mr-6" mat-raised-button [matMenuTriggerFor]="ueber" color="primary">Über uns</button>
  <mat-menu #ueber="matMenu">
    @for (item of navCompany; track item) {
    <span>
      <button mat-menu-item [routerLink]="[item.route]">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.title }}
      </button>
    </span>
    }
  </mat-menu>

  <!-- Hilfe -->
  <button class="mr-2 md:mr-6" mat-raised-button [matMenuTriggerFor]="hilfe" color="primary">Hilfe</button>
  <mat-menu #hilfe="matMenu">
    @for (item of navHelp2; track item) {
      <div class="flex gap-4">
    <span>
      <button mat-menu-item [routerLink]="[item.route]">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.title }}
      </button>
    </span>
    </div>
    }
  </mat-menu>

  <!-- login und registrierung -->
  <button mat-fab [matMenuTriggerFor]="menu2" aria-label="Login und Registrierung">
    <mat-icon>
      person_outline
    </mat-icon>
  </button>

  <mat-menu #menu2="matMenu">
    @if (!(IsLoggedIn$ | async)) {
    <span>
      <button mat-menu-item [routerLink]="['/register']">
        <mat-icon>app_registration</mat-icon>
        Register
      </button>
    </span>
    }
    @if (!(IsLoggedIn$ | async)) {
    <span>
      <button mat-menu-item [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </span>
    }
    @if (IsLoggedIn$ | async) {
    <span>
      <button mat-menu-item [routerLink]="['/userdata/benutzer']">
        <mat-icon>badge</mat-icon>
        Meine Daten
      </button>
    </span>
    }
    @if (IsLoggedIn$ | async) {
    <span>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </span>
    }
  </mat-menu>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-nav-list>
      @for (item of navMain; track item) {
      <a mat-list-item appListItemFocusable [routerLink]="[item.route]" routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }" #rla="routerLinkActive" [activated]="rla.isActive">
        <span matListItemTitle>{{ item.title }}</span>
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      </a>
      }
    </mat-nav-list>

    @if (IsLoggedIn$ | async) {
    <mat-divider></mat-divider>

    <mat-nav-list>
      @for (item of navUser; track item) {
      <a mat-list-item appListItemFocusable [routerLink]="[item.route]" routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }" #rla="routerLinkActive" [activated]="rla.isActive">
        <span matListItemTitle>{{ item.title }}</span>
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      </a>
      }
    </mat-nav-list>
    }

  </mat-sidenav>

  <mat-sidenav-content #sidenavContent>
    <div class="content" id="main-content">
      <router-outlet />
      <app-footer />
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>