@use '@angular/material' as mat;

mat-sidenav {
    width: 300px;
}

mat-toolbar {
    // position: sticky;
    // top: 0;
    // z-index: -1;
    justify-content: space-between;

    @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary),
            container-text-color: var(--mat-sys-on-primary),
        ));
}

.menu {
    @include mat.icon-button-overrides((icon-color: var(--mat-sys-on-tertiary),
        ));
}


icon-color // STICKY - killer overflow
// .content {
//     height: calc(100vh - 65px);
//     margin: 16px;
//     margin-left: 32px;
//     padding: 16px;
//     overflow: auto;
// }

.button-row {
    margin: 0px 16px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
    @include mat.sidenav-overrides((container-shape: 0px,
            container-elevation-shadow: 10px,
            container-divider-color: var(--mat-sys-primary),
        ));
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}