<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
  <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-4xl md:mx-auto ">
      <div class="max-w-4xl mx-auto">

            <h1 class="text-center text-xl md:text-2xl my-6">
                {{ pageTitle }}
              </h1>

            <mat-accordion class="pt-2 pb-6">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="text-base xl:text-lg py-2">
                            Wie schalte ich den Genogramm Designers mit meiner Lizenz frei?
                        </div>
                    </mat-expansion-panel-header>
                    <div class="text-xs md:text-base">
                        <ol class="ml-8 list-decimal">
                            <li>Erstellen Sie ein Verzeichnis auf Ihrem PC oder auf einem USB Stick.</li>
                            <li>Speichern Sie zip Datei in dem erstellten Verzeichnis und entpacken
                                die Datei dort.</li>
                            <li>Starten Sie den Genogramm Designer und Klicken im Hauptmenü in der
                                Rubrik 'Hilfe' auf 'Lizenzierung'. Es öffnet sich ein Eingabedialog.</li>
                            <li>Zur Eingabe Ihrer Daten stehen jetzt zwei Optionen zur Auswahl:</li>
                            <ol class="ml-8 list-[lower-roman]">
                                <li>Klicken Sie im Menü auf die Schaltfläche 'Manuelle Eingabe'.<br>
                                    Die Felder des Eingabedialogs werden freigegeben und Sie können
                                    Ihre Daten - siehe pdf Datei - manuell eingeben.
                                </li>
                                <li>Klicken Sie im Menü auf die Schaltfläche 'Lizenz importieren'.<br>
                                    Navigieren Sie zu dem von Ihnen erstellten Verzeichnis, in dem
                                    sich die Datei license.lic befindet. Wählen Sie diese Datei aus.
                                    Ihre Daten werden automatisch übernommen.</li>
                            </ol>
                        </ol>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>
</div>