<!-- weasley -->
<section class="py-12 bg-gray-50">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-5xl mx-auto">

            <article class="prose prose-lg max-w-none">
                <h1>{{ pageTitle }}</h1>

                <p>
                    Frei nach dem Roman 'Harry Potter' von Joanne K. Rowling
                </p>

                <p>
                    Die Harry Potter-Romane von J.K. Rowling sind eine Reihe von sieben Büchern, die die Abenteuer eines
                    jungen Zauberers namens Harry Potter und seiner Freunde an der Hogwarts-Schule für Hexerei und
                    Zauberei erzählen. Die Geschichten folgen Harrys Reise, wie er die Geheimnisse seiner eigenen
                    Vergangenheit entdeckt, sich gegen dunkle Mächte stellt und letztendlich versucht, den bösen
                    Zauberer Lord Voldemort zu besiegen.
                </p>
                <p>
                    Die Weasley-Familie spielt eine bedeutende Rolle in der Serie, insbesondere durch ihre Mitglieder
                    Ron, Ginny, Fred, George, Percy, Bill und Charlie. Sie sind bekannt für ihre roten Haare und ihre
                    herzliche, liebevolle Natur. Die Weasleys repräsentieren den starken Zusammenhalt und die Bedeutung
                    von Familie, Freundschaft und Tapferkeit in der Welt von Harry Potter.
                </p>
            </article>
        </div>
    </div>
</section>

<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div
        class="relative px-4 md:px-8 py-6 md:py-8 bg-white shadow-lg rounded-lg w-full max-w-full md:max-w-5xl mx-auto">
        <div class="max-w-5xl mx-auto">

            <app-leaflet-viewer [images]="images" [showNavigation]="true" [showDownloadButton]="true"
                (downloadClicked)="onDownload($event)">
            </app-leaflet-viewer>

        </div>
    </div>
</div>

<app-call-to-action />
