<div class="p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <h1 class="mb-6 text-xl md:text-2xl">
                {{ pageTitle }}
            </h1>

            <ul class="menu bg-base-200 rounded-box mb-5">
                <li> <a class="text-base text-gray-600 ">eDoc Systems</a> </li>
                <li> <a class="text-base text-gray-600 ">An der Weide 43</a> </li>
                <li> <a class="text-base text-gray-600 ">27211 Bassum</a> </li>
                <li> <a class="text-base text-gray-600 ">Deutschland</a> </li>
            </ul>

            <ul class="menu bg-base-200 rounded-box mb-5">
                <li> <a class="text-base text-gray-600 ">Telefon: +49 (0)4241 8239 691</a> </li>
                <li> <a class="text-base text-gray-600 ">Fax: +49 (0)4241 8239 692</a> </li>
                <li> <a class="text-base text-gray-600 ">E-Mail: info(at)edoc-systems.de</a> </li>
            </ul>

            <h1 class="title-font text-lg text-gray-900">Inhaltlich Verantwortlich gemäß Telemediengesetz</h1>
            <ul class="menu bg-base-200 rounded-box mb-5">
                <li> <a class="text-base text-gray-600 ">Rüdiger R. Hiller (rhiller(at)edoc-systems.de)</a> </li>
            </ul>

            <h1 class="title-font text-lg text-gray-900">Finanzamt Syke</h1>
            <ul class="menu bg-base-200 rounded-box mb-5">
                <li> <a class="text-base text-gray-600 ">USt.-Id.Nr.: DE201094529</a> </li>
            </ul>

            <h1 class="title-font text-lg text-gray-900">Markenhinweis</h1>
            <ul class="menu bg-base-200 rounded-box mb-5">
                <li> <a class="text-base text-gray-600 ">Die auf diesen Seiten dargestellten Waren- und Markenzeichen,
                        Trademarks, Namen und Logos sind Eigentum der jeweiligen Inhaber.
                        Alle Rechte und Copyrights an diesen und anderen Marken werden anerkannt.</a>
                </li>
            </ul>

            <h1 class="title-font text-lg text-gray-900">Haftungshinweis</h1>
            <ul class="menu bg-base-200 rounded-box mb-5">
                <li> <a class="text-base text-gray-600 ">Verweise auf andere Web-Sites (Links). Es werden
                        Links auf Web-Sites angeboten, die von Dritten unterhalten werden und nicht der
                        Kontrolle
                        von e!Doc Systems unterliegen. Wir übernehmen, soweit nach dem jeweils anwendbaren Recht
                        zulässig, keine Verantwortung für die Richtigkeit, den Inhalt oder irgendeinen anderen
                        Aspekt dieser Web-Sites und lehnen jegliche Haftung ab, die daraus erwächst, dass Sie
                        dem Verweis auf eine andere Web-Site gefolgt sind. Wir lehnen weiterhin jede Haftung für
                        Produkte oder Dienstleistungen ab, die Ihnen von dritter Seite angeboten werden und
                        geben diesbezüglich keinerlei Zusicherungen oder Garantien für diese Produkte oder
                        Dienstleistungen ab.</a>
                </li>
            </ul>

            <h1 class="title-font text-lg text-gray-900">Browserkompatibilität und Standards</h1>
            <ul class="menu bg-base-200 rounded-box mb-5">
                <li> <a class="text-base text-gray-600 ">Bei der Entwicklung unserer Webseite halten wir
                        uns an Vorgaben des W3C. Unsere Webseite unterstützt alle gängigen Browser und wurde auf
                        diesen auch getestet.</a>
                </li>
            </ul>
        </div>
    </div>
</div>