<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto">
        <article class="prose prose-lg max-w-none">

            <h1>{{ pageTitle }}</h1>
            <p>
                eDoc Systems<br>
                An der Weide 43<br>
                27211 Bassum<br>
                Deutschland
            </p>

            <p>
                Telefon: +49 (0)4241 8239 691<br>
                Fax: +49 (0)4241 8239 692<br>
                E-Mail: info(at)edoc-systems.de
            </p>

            <h2>Inhaltlich Verantwortlich gemäß Telemediengesetz</h2>
            <p>Rüdiger R. Hiller (rhiller(at)edoc-systems.de)</p>

            <h2>Finanzamt Syke</h2>
            <p>USt.-Id.Nr.: DE201094529</p>

            <h2>Markenhinweis</h2>
            <p>
                Die auf diesen Seiten dargestellten Waren- und Markenzeichen,
                Trademarks, Namen und Logos sind Eigentum der jeweiligen Inhaber.
                Alle Rechte und Copyrights an diesen und anderen Marken werden anerkannt.
            </p>

            <h2>Haftungshinweis</h2>
            <p>
                Verweise auf andere Web-Sites (Links). Es werden
                Links auf Web-Sites angeboten, die von Dritten unterhalten werden und nicht der
                Kontrolle von e!Doc Systems unterliegen. Wir übernehmen, soweit nach dem jeweils anwendbaren Recht
                zulässig, keine Verantwortung für die Richtigkeit, den Inhalt oder irgendeinen anderen
                Aspekt dieser Web-Sites und lehnen jegliche Haftung ab, die daraus erwächst, dass Sie
                dem Verweis auf eine andere Web-Site gefolgt sind. Wir lehnen weiterhin jede Haftung für
                Produkte oder Dienstleistungen ab, die Ihnen von dritter Seite angeboten werden und
                geben diesbezüglich keinerlei Zusicherungen oder Garantien für diese Produkte oder
                Dienstleistungen ab.
            </p>

            <h2>Browserkompatibilität und Standards</h2>
            <p>
                Bei der Entwicklung unserer Webseite halten wir
                uns an Vorgaben des W3C. Unsere Webseite unterstützt alle gängigen Browser und wurde auf
                diesen auch getestet.
            </p>
        </article>
    </div>
</div>