<!-- trump -->
<section class="py-12 bg-gray-50">
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <article class="prose prose-lg max-w-none">
            <h1>{{ pageTitle }}</h1>

            <p>
                Donald John Trump ist ein US-amerikanischer Politiker der
                Republikanischen Partei. Er war von 2017 bis 2021 der 45. und ist seit dem 20. Januar 2025 der 47.
                Präsident der Vereinigten Staaten. Er gilt als einer der umstrittensten Politiker der US-Geschichte
                und ist der erste Präsident, gegen den zwei Amtsenthebungsverfahren angestrengt wurden. Er ist der
                erste strafrechtlich verurteilte US-Präsident.
            </p>
            <p>
                Die deutsche Herkunft von Donald Trump ist gut dokumentiert und gesichert.
                Die Familie Trump hat ihre Wurzeln in Deutschland, sein Großvater, Frederick Trump, stammt aus dem
                deutschen Dorf Kallstadt im Königreich Bayern. Er wanderte in den späten 1880er Jahren in
                die Vereinigten Staaten aus und legte den Grundstein für das Familienunternehmen in Amerika.
            </p>
            <p>
                Donald Trump hat fünf Kinder aus drei Ehen. Seine ältesten Kinder, Donald Trump Jr., Ivanka Trump
                und Eric Trump, haben aktiv im Familienunternehmen gearbeitet und spielten eine wichtige Rolle
                während seiner Präsidentschaft. Tiffany Trump und Barron Trump sind ebenfalls Teil der Familie,
                haben sich jedoch weniger in das Geschäftsimperium eingebunden.
            </p>
        </article>
    </div>
</section>

<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-4 md:px-8 py-6 md:py-8 bg-white shadow-lg rounded-lg w-full max-w-full md:max-w-5xl mx-auto">
        <div class="max-w-5xl mx-auto">

            <app-leaflet-viewer [images]="images" [showNavigation]="true" [showDownloadButton]="true"
                (downloadClicked)="onDownload($event)">
            </app-leaflet-viewer>

        </div>
    </div>
</div>

<app-call-to-action/>