
<section class="py-12 bg-gray-50">
    <div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">

        <img class="mt-6 mx-auto w-auto" src="/call to action/gd-logo-200.png" alt="genogramm-designer logo" />

        <h1 class="py-8 text-center text-xl md:text-2xl">
            {{ pageTitle }}
        </h1>

        <form #regForm="ngForm" novalidate [formGroup]="form" (ngSubmit)="sendresetPassword(form.value)">
            <mat-card class="my-6 mat-elevation-z2">
                <mat-card-content>
                    <mat-form-field class="form-field-full-width">
                        <mat-label>E-Mail</mat-label>
                        <input matInput matInput #_email placeholder="E-Mail" formControlName="email">
                        <mat-hint align="end" aria-live="polite">
                            {{_email.value.length}} / 50 Zeichen
                        </mat-hint>
                        @if (errorHandling('email', 'required')) {
                        <mat-error>Pflichteingabefeld</mat-error>
                        }
                        @if (errorHandling('email', 'maxlength')) {
                        <mat-error>Die max. Länge für dieses Feld beträgt 50 Zeichen!</mat-error>
                        }
                        @if (errorHandling('email', 'pattern')) {
                        <mat-error>Das ist keine gültige E-Mail!</mat-error>
                        }

                    </mat-form-field>

                    <label class="ohnohoney" for="feld"></label>
                    <input class="ohnohoney" autocomplete="off" type="text" placeholder="Fliegenfalle"
                        formControlName="feld">
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button class="form-field-full-width" type="submit" color="primary"
                        [disabled]="!form.valid">Zurücksetzen</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</section>