<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <h1 class="mb-6 text-xl md:text-2xl">
                {{ pageTitle }}
            </h1>
            <p class="text-base mt-4">
                Für die Erstellung eines Genogramms gibt es keine festen Regeln. Allerdings haben sich im Laufe
                der Zeit einige Richtlinien entwickelt, die bei der Entwicklung des Genogramm Designer
                Berücksichtigung fanden.
            </p>
            <p class="text-base mt-4">
                Die im Folgenden dargestellten Inhalte der Symbolpaletten entsprechen dem ‘allgemeinen
                Verständnis’, wie welche Inhalte in einem Genogramm dargestellt werden können; es wird jedoch
                kein Anspruch auf Ausschließlichkeit erhoben. Deshalb kann und sollte jeder Nutzer des Genogramm
                Designer die zur Verfügung gestellten Funktionen und Werkzeuge nutzen, um ein Genogramm und
                jedes Symbol eines Genogramms so anzupassen, dass es seinen Vorstellungen entspricht.
            </p>

        </div>
    </div>
</div>

<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <h1 class="mb-6 text-xl md:text-2xl">
                Personensymbole
            </h1>
            <p class="text-base mt-4">
                In der Personen Symbolpalette sind grafische Elemente enthalten, über die jegliche Art von
                Person oder Personenkonstellation dargestellt werden können.
            </p>
            <p class="text-base mt-4">
                Jedes Symbol kann, nachdem es auf die Diagrammfläche gezogen wurde, individuell angepasst
                werden, d.h. es kann in seiner Größe geändert werden, es kann farblich modifiziert werden, es
                kann Text eingefügt werden und vieles andere mehr.
            </p>
            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240220_personen_symbole.png" width="804" height="468" sizes="100vw"
                    alt="genogramm designer logo">
            </div>

            <p class="mb-6 text-xl md:text-2xl mt-8">
                Symbole zur Darstellung der sexuellen Orientierung einer Person
            </p>

            <div class="flex justify-center items-center mt-6">
                <img mat-card-image src="/symbolpaletten/240220_personen_sexuelle_orientierung.png" width="804" height="468"
                    sizes="100vw" alt="genogramm designer logo">
            </div>

        </div>
    </div>
</div>

<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                Paarbeziehungen
            </h1>
            <p class="text-base mt-4">
                Als zentrale Strukturelemente eines Genogramms kommt diesen Symbolen eine besondere Bedeutung
                zu. Aktuell sind in der Symbolpalette alle in der Bundesrepublik Deutschland rechtlich
                anerkannten und in der Gesellschaft anzutreffende Beziehungsarten abgebildet.
            </p>
            <p class="text-base mt-4">
                Zur Verdeutlichung des Zustandes einer Paarbeziehung werden zusätzliche Pikogramme innerhalb des
                Beziehungssymbols angezeigt.
            </p>
            <p class="text-base mt-4">
                Obwohl diese Darstellung allgemein üblich ist und in Fachkreisen verstanden wird, kann das
                Symbol durch eine einfache Formatierungsfunktion durch Klartext ersetzt werden. Diese in allen
                Verbindungssymbolen enthaltene Formatierungsfunktion erhöht die Verständlichkeit des Genogramms,
                insbesondere wenn ein Genogramm an Personen weitergeleitet wird, die sich nur begrenzt mit der
                Thematik auseinandergesetzt haben.
            </p>

            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240220_paar_beziehungen.png" width="804" height="468" sizes="100vw"
                    alt="paar beziehungen">
            </div>
            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240220_paar_beziehungen_2.png" width="804" height="468" sizes="100vw"
                    alt="paar beziehungen">
            </div>
            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240220_paar_beziehungen_3.png" width="804" height="468" sizes="100vw"
                    alt="paar beziehungen">
            </div>
            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240220_paar_beziehungen_4.png" width="804" height="468" sizes="100vw"
                    alt="paar beziehungen">
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                Familiäre Beziehungen
            </h1>
            <p class="text-base mt-4">
                Über diese Symbole werden die innerfamiliären Beziehungen dargestellt.
            </p>

            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240220_familiaere_beziehungen.png" width="804" height="468"
                    sizes="100vw" alt="paar beziehungen">
            </div>

        </div>
    </div>
</div>

<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                Emotionale Beziehungen
            </h1>
            <p class="text-base mt-4">
                In einem Genogramm werden nicht nur Namen und Geburtsdaten von Personen festgehalten, sondern
                auch, wie diese zueinander stehen.
            </p>
            <p class="text-base mt-4">
                Ein großer Vorzug ist, dass in einem Genogramm verschiedene Beziehungsarten mit verschiedenen
                Farben darstellbar sind. Genogramme enthalten Darstellungen von emotionalen Beziehungen der
                einzelnen Personen untereinander.
            </p>
            <p class="text-base mt-4">
                Wichtige Personen, wie z.B. Nachbarn, Mitschüler, Vorgesetzte, Lehrer, Pfarrer u.a., die
                maßgeblichen Einfluss auf die Familiensituation haben, werden in das Genogramm einbezogen. So
                können Genogramme zum Beispiel auch für Firmen erstellt werden.
            </p>
            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240220_emotionale_beziehungen.png" width="804" height="468"
                    sizes="100vw" alt="paar beziehungen">
            </div>
            <div class="flex justify-center items-center">
                <img mat-card-image src="/symbolpaletten/240220_emotionale_beziehungen_2.png" width="804" height="468"
                    sizes="100vw" alt="paar beziehungen">
            </div>

            <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
                <div class="w-full lg:w-1/2">
                    <img class="object-cover object-center rounded" src="/symbolpaletten/240220_emotionale_beziehungen_3.png"
                        alt="genogramm designer logo">
                </div>
                <div class="w-full lg:w-1/2">
                    <img class="object-cover object-center rounded" src="/symbolpaletten/240220_emotionale_beziehungen_4.png"
                        alt="genogramm designer logo">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                Symbole zur Darstellung von physischen, psychischen, Drogen und Alkoholkrankheiten
            </h1>
            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240220_krankheiten_1.png" width="804" height="468" sizes="100vw"
                    alt="paar beziehungen">
            </div>

        </div>
    </div>
</div>

<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                Symbole zur Darstellung von Krankheiten
            </h1>
            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240220_medizin_1.png" width="804" height="468" sizes="100vw"
                    alt="paar beziehungen">
            </div>

        </div>
    </div>
</div>

<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                Allgemeine Symbole
            </h1>
            <p class="text-base mt-4">
                Zur Darstellung weiterer Ereignisse, Eigenschaften oder Gegebenheiten stehen in dieser Palette
                allgemeine Symbole zur Verfügung, die ebenfalls in ein Genogramm eingebunden werden können.
                Diesen Symbolen kann Freitext zugeordnet werden, sie können frei auf der Diagrammfläche
                positioniert, farblich angepasst, in der Größe verändert werden und v.a.m.
            </p>

            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240221_basissymbole_1.png" width="804" height="468" sizes="100vw"
                    alt="paar beziehungen">
            </div>

        </div>
    </div>
</div>

<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                Zeiger
            </h1>
            <p class="text-base mt-4">
                Zur Betonung besonderer Vorkommnisse stehen verschiedene Zeigersymbole zur Auswahl. Diesen Symbolen kann
                Freitext zugeordnet werden, sie können frei auf der Diagrammfläche positioniert, farblich angepasst, in
                der Größe verändert werden und v.a.m.
            </p>

            <div class="flex justify-center items-center mt-10">
                <img mat-card-image src="/symbolpaletten/240221_pfeile_1.png" width="804" height="468" sizes="100vw"
                    alt="paar beziehungen">
            </div>

        </div>
    </div>
</div>

<div class="bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <div class="container mx-auto flex px-4 py-4 md:flex-row flex-col items-center">
                <div class="w-full md:w-1/2">
                    <img class="object-cover object-center rounded" src="/call to action/665shots_so.png"
                        alt="genogramm designer logo">
                </div>

                <div class="flex flex-col w-full md:w-1/2 md:items-start md:text-left items-center text-center">
                    <div class="text-xl md:text-2xl">
                        Fordern Sie Ihre <br> persönliche Testversion an!
                    </div>
                    <p class="text-base mt-4">
                        Überzeugen Sie sich vor dem Kauf von der Leistungsfähigkeit des ‘Genogramm Designer’. Fordern
                        Sie Ihre kostenlose Testversion an und testen Sie das Programm 14 Tage auf ‘Herz und Nieren’.
                        <br>
                        Kostenfrei und natürlich ohne Verbindlichkeiten.
                    </p>
                    <p class="text-base mt-4">
                        Nach der Registrierung erhalten Sie Ihre Zugangsdaten und weitere Informationen per E-Mail.
                    </p>
                    <button [routerLink]="['/register']"
                        class="flex mx-auto mt-10 py-2 px-8 text-lg text-white bg-green-700">
                        Zur Testversion
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
