<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                {{ pageTitle }}
            </h1>
            <p class="text-base mt-4">
                Um den Genogramm Designer nutzen zu können, ist der Erwerb einer Softwarelizenz nötig.
            </p>
            <p class="text-base mt-4">
                Der Genogramm Designer wird als Einzellizenz (EL) vertrieben. Jede Lizenz ist personalisiert und
                schließt das Nutzungsrecht am e!Doc Systems Produkt ‘Genogramm Designer’ in der zum
                Bestellzeitpunkt gültigen Version des Produkts auf unbestimmte Zeit ein.
            </p>
        </div>
    </div>
</div>

<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <div class="grid grid-cols lg:grid-cols-2 items-start gap-2">
                <div class="py-4 px-2 sm:p-9 lg:px-6 xl:px-9">
                    <p class="text-xl md:text-2xl mb-8">
                        Listenpreis
                    </p>
                    <div class="mx-auto mb-7 inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" width="48px" viewBox="0 0 24 24"
                            fill="#000000">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M15 18.5c-2.51 0-4.68-1.42-5.76-3.5H15v-2H8.58c-.05-.33-.08-.66-.08-1s.03-.67.08-1H15V9H9.24C10.32 6.92 12.5 5.5 15 5.5c1.61 0 3.09.59 4.23 1.57L21 5.3C19.41 3.87 17.3 3 15 3c-3.92 0-7.24 2.51-8.48 6H3v2h3.06c-.04.33-.06.66-.06 1 0 .34.02.67.06 1H3v2h3.52c1.24 3.49 4.56 6 8.48 6 2.31 0 4.41-.87 6-2.3l-1.78-1.77c-1.13.98-2.6 1.57-4.22 1.57z" />
                        </svg>
                    </div>
                    <div class="text-base">
                        <p>
                            Der Preis für eine Einzelplatzlizenz beträgt 105,91€
                        </p>
                        <ul class="ml-8 mt-4 list-disc list-outside text-sm">
                            <li>Der Preis für eine Lizenz muss einmalig entrichtet werden.</li>
                            <li>Eine erworbene Lizenz gilt unbegrenzt.</li>
                            <li>Für Microsoft Windows <a
                                    matTooltip="Diese Software benötigt ein Windows-Betriebssystem. Eine Nutzung auf Apple-Geräten (Mac/MacBook) ist nicht möglich.">(Systemvoraussetzungen)</a>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>
                            Preise für Mehrfach-, Einrichtungs- und Terminalserverlizenzen auf Anfrage.
                        </p>
                    </div>
                </div>
                <div class="mb-9 py-4 px-2 sm:p-9 lg:px-6 xl:px-9">
                    <p class="text-xl md:text-2xl mb-8">
                        Geld zurück Garantie
                    </p>
                    <div class="mx-auto mb-7 inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px"
                            fill="#000000">
                            <path d="M24 24H0V0h24v24z" fill="none" />
                            <path
                                d="M2 20h2c.55 0 1-.45 1-1v-9c0-.55-.45-1-1-1H2v11zm19.83-7.12c.11-.25.17-.52.17-.8V11c0-1.1-.9-2-2-2h-5.5l.92-4.65c.05-.22.02-.46-.08-.66-.23-.45-.52-.86-.88-1.22L14 2 7.59 8.41C7.21 8.79 7 9.3 7 9.83v7.84C7 18.95 8.05 20 9.34 20h8.11c.7 0 1.36-.37 1.72-.97l2.66-6.15z" />
                        </svg>
                    </div>
                    <div class="text-base">
                        <p>
                            Sollten Ihre Erwartungen an den Genogramm Designer nicht ausreichend erfüllt
                            werden, erhalten Sie bis 30 Tage nach dem Kauf den kompletten Rechnungsbetrag
                            zurück.
                        </p>
                        <ul class="list-none text-center mt-8">
                            <li>Ohne Wenn und Aber.</li>
                            <li>Ohne Angabe von Gründen.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- einzellizenz -->
<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <div class="flex items-center mx-auto sm:flex-row flex-col">
                <div
                    class="sm:w-32 sm:h-32 h-20 w-20 inline-flex items-center justify-center rounded-full flex-shrink-0">

                    <svg height="120" width="48" xmlns="http://www.w3.org/2000/svg">
                        <text x="0" y="80" fill="black" stroke="black" font-size="72">§</text>
                    </svg>
                </div>
                <div class="flex-grow text-center sm:text-left  mt-6 sm:mt-0">
                    <h2 class="text-gray-900 text-xl title-font font-medium mb-2">
                        Was bedeutet ‘Einzellizenz’?
                    </h2>
                    <p class="text-base mt-4">
                        Eine Einzellizenz berechtigt zur Nutzung des Programms ‘Genogramm Designer’ zeitgleich
                        auf einem Computer-Hardwaresystem. Ist das Programm auf einem Computer im Büro
                        installiert, kann die Software auch auf einem zweiten Computer zu Hause oder auf einem
                        Laptop installiert werden.
                    </p>
                    <p class="text-base mt-4">
                        Die Software darf jedoch <b>nicht gleichzeitig</b> auf beiden Computern ausführen werden.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- sonderkonditionen -->
<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                Sonderkonditionen
            </h1>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 w-full p-4">
                <div class="p-6 bg-gray-50">
                    <p class="text-center text-4xl">
                        😁
                    </p>

                    <h2 class="tracking-wide text-lg text-center text-gray-800 mt-2">
                        Behörden und Kommunen
                    </h2>

                    <p class="mt-2 text-gray-800 text-base text-center">
                        Für Einrichtungen und Dienststellen des Bundes, der Länder, Landkreise, Städte und
                        Gemeinden beträgt der reduzierte Preis für eine Einzelplatzlizenz 70,21€
                    </p>
                </div>
                <div class="p-6 bg-gray-50">
                    <p class="text-center text-4xl">
                        🤩
                    </p>

                    <h2 class="tracking-wide text-lg text-center text-gray-800 mt-2">
                        Mitglieder der Freien Wohlfahrtspflege
                    </h2>

                    <p class="mt-2 text-gray-800 text-base text-center">
                        Für Unternehmen mit einer Mitgliedschaft in einem Spitzenverband der Freien
                        Wohlfahrtspflege beträgt der reduzierte Preis für eine Einzelplatzlizenz 58,31€
                    </p>
                </div>
                <div class="p-6 bg-gray-50">
                    <p class="text-center text-4xl">
                        😎
                    </p>

                    <h2 class="tracking-wide text-lg text-center text-gray-800 mt-2">
                        Lehrer und Dozenten
                    </h2>

                    <p class="mt-2 text-gray-800 text-base text-center">
                        Für vollzeitbeschäftigte Lehrkräfte und Dozenten von Bildungseinrichtungen beträgt der
                        reduzierte Preis für eine Einzelplatzlizenz 46,41€
                    </p>
                </div>
                <div class="p-6 bg-gray-50">
                    <p class="text-center text-4xl">
                        😉
                    </p>

                    <h2 class="tracking-wide text-lg text-center text-gray-800 mt-2">
                        Studenten und Auszubildende
                    </h2>

                    <p class="mt-2 text-gray-800 text-base text-center">
                        Für Studenten bzw. Auszubildende beträgt der reduzierte Preis für eine Einzelplatzlizenz
                        34,51€
                        <br><small>(Nachweis: Gültige Immatrikulationsbescheinigung zum Zeitpunkt der
                            Bestellung)</small>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="p-8 bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <p class="mx-auto leading-relaxed text-base text-gray-500">
                Die Preise auf dieser Seite sind in Euro
                ausgewiesen und verstehen sich einschließlich deutscher Umsatzsteuer.
            </p>
        </div>
    </div>
</div>

<app-call-to-action/>