<div class="relative p-6" (click)="close()">

    <!-- Bild -->
    <img [src]="data.imageUrl" class="w-full h-64 object-cover rounded-lg mb-6" />

    <!-- Titel -->
    <h2 class="text-2xl font-semibold mb-4">
        {{ data.title }}
    </h2>

    <!-- Text -->
    <p class="text-gray-700 mb-4">
        {{ data.text }}
    </p>

    <!-- Tags -->
    @if (data.tags) {
    <div class="flex flex-wrap gap-2">
        @for (tag of data.tags; track tag) {
        <span class="px-2 py-1 bg-gray-50 text-gray-700 text-xs rounded-md">
            {{ tag }}
        </span>
        }
    </div>
    }

</div>