<div class="bg-gray-100 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                {{ pageTitle }}
            </h1>

            <p class="text-base mt-4">
                Der Genogramm Designer verfügt nicht nur über zahlreiche, in keinem anderen vergleichbaren
                Programm enthaltenen Funktionen zur individuellen Anpassung eines Genogramms, sondern
                unterstützt den Anwender auch mit einer Vielzahl von Druck- und Export-Funktionen bei der
                Weitergabe von Genogrammen.
            </p>

            <p class="text-base mt-4">
                Jedes Genogramm kann in folgende Formate konvertiert werden:
            </p>

            <div class="text-base mt-4">
                <div class="ml-8">
                    <ul class="list-disc list-outside">
                        <li>BMP -> Bitmap</li>
                        <li>GIF -> Graphics Interchange Format</li>
                        <li>JPG -> Joint Photographic Experts Group</li>
                        <li>PNG -> Portable Network Graphics</li>
                        <li>PDF -> Portable Document Format</li>
                        <li>Zwischenablage -> Das Genogramm wird als hoch-aufgelöste Grafik im Speicher abgelegt
                            und kann in andere Anwendungen, z.B. Microsoft Word, als Grafik eingefügt werden.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-100 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <div class="container mx-auto flex px-4 py-4 md:flex-row flex-col items-center">
                <div class="w-full md:w-1/2">
                    <img class="object-cover object-center rounded" src="/call to action/665shots_so.png"
                        alt="genogramm designer logo">
                </div>

                <div class="flex flex-col w-full md:w-1/2 md:items-start md:text-left items-center text-center">
                    <div class="text-xl md:text-2xl">
                        Fordern Sie Ihre <br> persönliche Testversion an!
                    </div>
                    <p class="text-base mt-4">
                        Überzeugen Sie sich vor dem Kauf von der Leistungsfähigkeit des ‘Genogramm Designer’. Fordern
                        Sie Ihre kostenlose Testversion an und testen Sie das Programm 14 Tage auf ‘Herz und Nieren’.
                        <br>
                        Kostenfrei und natürlich ohne Verbindlichkeiten.
                    </p>
                    <p class="text-base mt-4">
                        Nach der Registrierung erhalten Sie Ihre Zugangsdaten und weitere Informationen per E-Mail.
                    </p>
                    <button [routerLink]="['/register']"
                        class="flex mx-auto mt-10 py-2 px-8 text-lg text-white bg-green-700">
                        Zur Testversion
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
