<div class="p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <h1 class="mb-6  text-xl md:text-2xl">
                {{ pageTitle }}
            </h1>

            <div class="text-base mb-4">
                <p class="mb-4">
                    Personenbezogene Daten (nachfolgend zumeist nur „Daten“ genannt) werden von uns nur im Rahmen der
                    Erforderlichkeit sowie zum Zwecke der Bereitstellung eines funktionsfähigen und nutzerfreundlichen
                    Internetauftritts, inklusive seiner Inhalte und der dort angebotenen Leistungen, verarbeitet.
                </p>
                <p class="mb-3">
                    Personenbezogene Daten (nachfolgend zumeist nur „Daten“ genannt) werden von uns nur im Rahmen der
                    Erforderlichkeit sowie zum Zwecke der Bereitstellung eines funktionsfähigen und nutzerfreundlichen
                    Internetauftritts, inklusive seiner Inhalte und der dort angebotenen Leistungen, verarbeitet.
                </p>
                <p class="mb-3">
                    Gemäß Art. 4 Ziffer 1. der Verordnung (EU) 2016/679, also der Datenschutz-Grundverordnung
                    (nachfolgend nur „DSGVO“ genannt), gilt als „Verarbeitung“ jeder mit oder ohne Hilfe automatisierter
                    Verfahren ausgeführter Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen
                    Daten, wie das Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung
                    oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung,
                    Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die
                    Einschränkung, das Löschen oder die Vernichtung.
                </p>
                <p class="mb-3">
                    Mit der nachfolgenden Datenschutzerklärung informieren wir Sie insbesondere über Art, Umfang, Zweck,
                    Dauer und Rechtsgrundlage der Verarbeitung personenbezogener Daten, soweit wir entweder allein oder
                    gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung entscheiden. Zudem informieren wir
                    Sie nachfolgend über die von uns zu Optimierungszwecken sowie zur Steigerung der Nutzungsqualität
                    eingesetzten Fremdkomponenten, soweit hierdurch Dritte Daten in wiederum eigener Verantwortung
                    verarbeiten.
                </p>
                <p class="mb-3">
                    Unsere Datenschutzerklärung ist wie folgt gegliedert:
                </p>
                <p class="mb-3">
                    I. Informationen über uns als Verantwortliche<br>
                    II. Rechte der Nutzer und Betroffenen<br>
                    III. Informationen zur Datenverarbeitung
                </p>
            </div>

            <div class="text-gray-700 text-xl">I. Informationen über uns als Verantwortliche</div>
            <div class="text-base mb-4">
                <p class="mb-3">
                    Verantwortlicher Anbieter dieses Internetauftritts im datenschutzrechtlichen Sinne ist:
                </p>
                <p class="mb-3">
                    eDoc Systems<br>
                    An der Weide 43<br>
                    27211 Bassum<br>
                    Deutschland</p>
                <p class="mb-3">
                    Telefon: +49 (0)4241 8239 691<br>
                    Fax: +49 (0)4241 8239 692<br>
                    E-Mail: info(at)edoc-sytems.de</p>
                <p class="mb-3">
                    Ansprechpartner für den Datenschutz beim Anbieter ist:
                </p>
                <p class="mb-3">
                    Rüdiger R. Hiller<br>
                    Telefon: +49 (0)4241 8239 691<br>
                    E-Mail: info(at)edoc-sytems.de
                </p>
            </div>

            <div class="text-gray-700 text-xl">II. Rechte der Nutzer und Betroffenen</div>
            <div class="text-base mb-4">
                <p class="mb-3">
                    Mit Blick auf die nachfolgend noch näher beschriebene Datenverarbeitung haben die Nutzer und
                    Betroffenen das Recht
                </p>
                <div class="ml-8">
                    <ul class="list-disc list-outside text-base mt-2 mb-4">
                        <li>auf Bestätigung, ob sie betreffende Daten verarbeitet werden, auf Auskunft über die
                            verarbeiteten Daten, auf weitere Informationen über die Datenverarbeitung sowie auf Kopien
                            der
                            Daten (vgl. auch Art. 15 DSGVO);
                        </li>
                        <li>auf Berichtigung oder Vervollständigung unrichtiger bzw. unvollständiger Daten (vgl. auch
                            Art.16 DSGVO);
                        </li>
                        <li>auf unverzügliche Löschung der sie betreffenden Daten (vgl. auch Art. 17 DSGVO), oder,
                            alternativ, soweit eine weitere Verarbeitung gemäß Art. 17 Abs. 3 DSGVO erforderlich ist,
                            auf
                            Einschränkung der Verarbeitung nach Maßgabe von Art. 18 DSGVO;
                        </li>
                        <li>auf Erhalt der sie betreffenden und von ihnen bereitgestellten Daten und auf Übermittlung
                            dieser Daten an andere Anbieter/Verantwortliche (vgl. auch Art. 20 DSGVO);
                        </li>
                        <li>auf Beschwerde gegenüber der Aufsichtsbehörde, sofern sie der Ansicht sind, dass die sie
                            betreffenden Daten durch den Anbieter unter Verstoß gegen datenschutzrechtliche Bestimmungen
                            verarbeitet werden (vgl. auch Art. 77 DSGVO).
                        </li>
                    </ul>
                </div>
                <p class="mb-3">
                    Darüber hinaus ist der Anbieter dazu verpflichtet, alle Empfänger, denen gegenüber Daten durch den
                    Anbieter offengelegt worden sind, über jedwede Berichtigung oder Löschung von Daten oder die
                    Einschränkung der Verarbeitung, die aufgrund der Artikel 16, 17 Abs. 1, 18 DSGVO erfolgt, zu
                    unterrichten. Diese Verpflichtung besteht jedoch nicht, soweit diese Mitteilung unmöglich oder mit
                    einem unverhältnismäßigen Aufwand verbunden ist. Unbeschadet dessen hat der Nutzer ein Recht auf
                    Auskunft
                    über diese Empfänger.
                </p>
                <p class="mb-3">
                    Ebenfalls haben die Nutzer und Betroffenen nach Art. 21 DSGVO das Recht auf Widerspruch gegen die
                    künftige Verarbeitung der sie betreffenden Daten, sofern die Daten durch den Anbieter nach Maßgabe
                    von Art. 6 Abs. 1 lit. f) DSGVO verarbeitet werden. Insbesondere ist ein Widerspruch gegen die
                    Datenverarbeitung zum Zwecke der Direktwerbung statthaft.
                </p>
            </div>

            <div class="text-gray-700 text-xl">III. Informationen zur Datenverarbeitung</div>
            <div class="text-base mb-4">
                <p class="mb-3">
                    Ihre bei Nutzung unseres Internetauftritts verarbeiteten Daten werden gelöscht oder gesperrt, sobald
                    der Zweck der Speicherung entfällt, der Löschung der Daten keine gesetzlichen Aufbewahrungspflichten
                    entgegenstehen und nachfolgend keine anderslautenden Angaben zu einzelnen Verarbeitungsverfahren
                    gemacht werden.
                </p>
            </div>

            <div class="text-gray-700 text-lg mt-6">Serverdaten</div>
            <div class="text-base mb-4">
                <p class="mb-3">
                    Aus technischen Gründen, insbesondere zur Gewährleistung eines sicheren und stabilen
                    Internetauftritts,
                    werden Daten durch Ihren Internet-Browser an uns bzw. an unseren Webspace-Provider übermittelt. Mit
                    diesen sog. Server-Logfiles werden u.a. Typ und Version Ihres Internetbrowsers, das Betriebssystem,
                    die Website, von der aus Sie auf unseren Internetauftritt gewechselt haben (Referrer URL), die
                    Website(s) unseres Internetauftritts, die Sie besuchen, Datum und Uhrzeit des jeweiligen Zugriffs
                    sowie die
                    IP-Adresse des Internetanschlusses, von dem aus die Nutzung unseres Internetauftritts erfolgt,
                    erhoben.
                </p>
                <p class="mb-3">
                    Diese so erhobenen Daten werden vorrübergehend gespeichert, dies jedoch nicht gemeinsam mit anderen
                    Daten von Ihnen.
                </p>
                <p class="mb-3">
                    Diese Speicherung erfolgt auf der Rechtsgrundlage von Art. 6 Abs. 1 lit. f) DSGVO. Unser
                    berechtigtes
                    Interesse liegt in der Verbesserung, Stabilität, Funktionalität und Sicherheit unseres
                    Internetauftritts.
                </p>
                <p class="mb-3">
                    Die Daten werden spätestens nach sieben Tage wieder gelöscht, soweit keine weitere Aufbewahrung zu
                    Beweiszwecken erforderlich ist. Andernfalls sind die Daten bis zur endgültigen Klärung eines
                    Vorfalls ganz oder teilweise von der Löschung ausgenommen.
                </p>
            </div>

            <div class="text-gray-700 text-lg mt-6">Cookie-Manager</div>
            <div class="text-base mb-4">
                <p class="mb-3">
                    Zur Einholung einer Einwilligung zum Einsatz von nicht unbedingt notwendigen Cookies auf der
                    Genogramm Designer Plattform setzen wir einen Cookie-Manager ein. Dieser wird beim Aufruf der
                    Website
                    automatisch
                    angezeigt. Er kann aber jederzeit von Ihnen über „Cookie-Einstellungen“ in der Fußzeile wieder
                    angezeigt werden, um Ihre Einstellungen zu ändern.
                </p>
                <p class="mb-3">
                    Nach dem Aufruf des Cookie-Managers wird ein Cookie mit den Cookie-Einstellungen auf Ihrem Endgerät
                    gespeichert, sodass während des Besuchs die Cookie-Einstellungen berücksichtigt werden können.
                    Dieses
                    Cookie ist erforderlich, um Ihre rechtskonforme Einwilligung einzuholen.
                </p>
            </div>

            <div class="text-gray-700 text-lg mt-6">Cookies</div>
            <div class="text-base mb-4">
                <h5>a) Sitzungs-Cookies/Session-Cookies</h5>
                <p class="mb-3">Wir verwenden mit unserem Internetauftritt sog. Cookies. Cookies sind kleine Textdateien
                    oder andere
                    Speichertechnologien, die durch den von Ihnen eingesetzten Internet-Browser auf Ihrem Endgerät
                    ablegt und gespeichert werden. Durch diese Cookies werden im individuellen Umfang bestimmte
                    Informationen von Ihnen, wie beispielsweise Ihre Browser- oder Standortdaten oder Ihre IP-Adresse,
                    verarbeitet.</p>
                <p class="mb-3">Durch diese Verarbeitung wird unser Internetauftritt benutzerfreundlicher, effektiver
                    und sicherer,
                    da die Verarbeitung bspw. die Wiedergabe unseres Internetauftritts in unterschiedlichen Sprachen
                    oder das Angebot einer Warenkorbfunktion ermöglicht.</p>
                <p class="mb-3">Rechtsgrundlage dieser Verarbeitung ist Art. 6 Abs. 1 lit b.) DSGVO, sofern diese
                    Cookies Daten zur
                    Vertragsanbahnung oder Vertragsabwicklung verarbeitet werden.</p>
                <p class="mb-3">Falls die Verarbeitung nicht der Vertragsanbahnung oder Vertragsabwicklung dient, liegt
                    unser
                    berechtigtes Interesse in der Verbesserung der Funktionalität unseres Internetauftritts.
                    Rechtsgrundlage ist in dann Art. 6 Abs. 1 lit. f) DSGVO.</p>
                <p class="mb-3">Mit Schließen Ihres Internet-Browsers werden diese Session-Cookies gelöscht.</p>
                <h5>b) Drittanbieter-Cookies</h5>
                <p class="mb-3">Gegebenenfalls werden mit unserem Internetauftritt auch Cookies von Partnerunternehmen,
                    mit denen wir
                    zum Zwecke der Werbung, der Analyse oder der Funktionalitäten unseres Internetauftritts
                    zusammenarbeiten, verwendet.</p>
                <p class="mb-3">Die Einzelheiten hierzu, insbesondere zu den Zwecken und den Rechtsgrundlagen der
                    Verarbeitung
                    solcher Drittanbieter-Cookies, entnehmen Sie bitte den nachfolgenden Informationen.</p>
                <h5>c) Beseitigungsmöglichkeit</h5>
                <p class="mb-3">Sie können die Installation der Cookies durch eine Einstellung Ihres Internet-Browsers
                    verhindern
                    oder einschränken. Ebenfalls können Sie bereits gespeicherte Cookies jederzeit löschen. Die hierfür
                    erforderlichen Schritte und Maßnahmen hängen jedoch von Ihrem konkret genutzten Internet-Browser ab.
                    Bei Fragen benutzen Sie daher bitte die Hilfefunktion oder Dokumentation Ihres Internet-Browsers
                    oder wenden sich an dessen Hersteller bzw. Support.</p>
                <p class="mb-3">Sollten Sie die Installation der Cookies verhindern oder einschränken, kann dies
                    allerdings dazu
                    führen, dass nicht sämtliche Funktionen unseres Internetauftritts vollumfänglich nutzbar sind.</p>
            </div>

            <div class="text-gray-700 text-lg mt-6">Kundenkonto / Registrierungsfunktion</div>
            <div class="text-base mb-4">
                <p class="mb-3">
                    Wenn Sie auf der Genogramm Designer Plattform ein Kundenkonto bei uns anlegen, werden wir die
                    von Ihnen bei der
                    Registrierung eingegebenen Daten (also bspw. Ihren Namen, Ihre Anschrift oder Ihre
                    E-Mail-Adresse)
                    ausschließlich für vorvertragliche Leistungen, für die Vertragserfüllung oder zum Zwecke der
                    Kundenpflege verarbeiten. Gleichzeitig speichern wir die IP-Adresse und das Datum Ihrer
                    Registrierung nebst Uhrzeit. Eine Weitergabe dieser Daten an Dritte erfolgt nicht.
                </p>
                <p class="mb-3">
                    Im Rahmen des weiteren Anmeldevorgangs wird Ihre Einwilligung in diese Verarbeitung eingeholt
                    und auf diese Datenschutzerklärung verwiesen. Die dabei von uns erhobenen Daten werden
                    ausschließlich für die Zurverfügungstellung des Kundenkontos verwendet.
                </p>
                <p class="mb-3">
                    Soweit Sie in diese Verarbeitung einwilligen, ist Art. 6 Abs. 1 lit. a DSGVO Rechtsgrundlage für
                    die Verarbeitung.
                </p>
                <p class="mb-3">
                    Sofern die Eröffnung des Kundenkontos zusätzlich auch vorvertraglichen Maßnahmen oder der
                    Vertragserfüllung dient, so ist Rechtsgrundlage für diese Verarbeitung auch noch Art. 6 Abs. 1
                    lit. b DSGVO.
                </p>
                <p class="mb-3">
                    Die uns erteilte Einwilligung in die Eröffnung und den Unterhalt des Kundenkontos können Sie
                    gemäß Art.7 Abs. 3 DSGVO jederzeit mit Wirkung für die Zukunft widerrufen. Hierzu müssen Sie uns
                    lediglich über Ihren Widerruf in Kenntnis setzen.
                </p>
                <p class="mb-3">
                    Die insoweit erhobenen Daten werden gelöscht, sobald die Verarbeitung nicht mehr erforderlich
                    ist. Hierbei müssen wir aber steuer- und handelsrechtliche Aufbewahrungsfristen beachten.
                </p>
            </div>

            <div class="text-gray-700 text-lg mt-6">Google Analytics</div>
            <div class="text-base mb-4">
                <p class="mb-3">In unserem Internetauftritt setzen wir Google Analytics ein. Hierbei handelt es sich um
                    einen
                    Webanalysedienst der Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland,
                    nachfolgend nur „Google“ genannt.</p>
                <p class="mb-3">Der Dienst Google Analytics dient zur Analyse des Nutzungsverhaltens unseres
                    Internetauftritts.
                    Rechtsgrundlage ist Art. 6 Abs. 1 lit. f) DSGVO. Unser berechtigtes Interesse liegt in der Analyse,
                    Optimierung und dem wirtschaftlichen Betrieb unseres Internetauftritts.</p>
                <p class="mb-3">Nutzungs- und nutzerbezogene Informationen, wie bspw. IP-Adresse, Ort, Zeit oder
                    Häufigkeit des
                    Besuchs unseres Internetauftritts, werden dabei an einen Server von Google in den USA übertragen und
                    dort gespeichert. Allerdings nutzen wir Google Analytics mit der sog. Anonymisierungsfunktion. Durch
                    diese Funktion kürzt Google die IP-Adresse schon innerhalb der EU bzw. des EWR.</p>
                <p class="mb-3">Die so erhobenen Daten werden wiederum von Google genutzt, um uns eine Auswertung über
                    den Besuch
                    unseres Internetauftritts sowie über die dortigen Nutzungsaktivitäten zur Verfügung zu stellen. Auch
                    können diese Daten genutzt werden, um weitere Dienstleistungen zu erbringen, die mit der Nutzung
                    unseres Internetauftritts und der Nutzung des Internets zusammenhängen.</p>
                <p class="mb-3">Google gibt an, Ihre IP-Adresse nicht mit anderen Daten zu verbinden. Zudem hält Google
                    unter <a href="https://www.google.com/intl/de/policies/privacy/partners" target="_blank"
                        rel="noopener nofollow">https://www.google.com/intl/de/policies/privacy/partners</a>
                    weitere datenschutzrechtliche Informationen für Sie bereit, so bspw. auch zu den
                    Möglichkeiten, die Datennutzung zu unterbinden.
                </p>
                <p class="mb-3">Zudem bietet Google unter <a href="https://tools.google.com/dlpage/gaoptout?hl=de"
                        target="_blank" rel="noopener nofollow">https://tools.google.com/dlpage/gaoptout?hl=de</a>
                    ein sog. Deaktivierungs-Add-on nebst weiteren Informationen hierzu an. Dieses Add-on
                    lässt sich mit
                    den gängigen Internet-Browsern installieren und bietet Ihnen weitergehende Kontrollmöglichkeit über
                    die Daten, die Google bei Aufruf unseres Internetauftritts erfasst. Dabei teilt das Add-on dem
                    JavaScript (ga.js) von Google Analytics mit, dass Informationen zum Besuch unseres Internetauftritts
                    nicht an Google Analytics übermittelt werden sollen. Dies verhindert aber nicht, dass Informationen
                    an uns oder an andere Webanalysedienste übermittelt werden. Ob und welche weiteren Webanalysedienste
                    von uns eingesetzt werden, erfahren Sie natürlich ebenfalls in dieser Datenschutzerklärung.</p>
            </div>

            <div class="text-gray-700 text-lg mt-6">Hosting von Genogramm Designer und von Ihren Daten</div>
            <div class="text-base mb-4">
                <p class="mb-3">
                    Für den Betrieb von Genogramm Designer nutzen wir die Azure-Plattform der Firma Microsoft
                    Deutschland. Alle Daten, die Sie über Genogramm Designer erfassen, werden daher an Microsoft
                    als Dienstleister weitergeleitet und auf der Azure-Plattform in Deutschland und Europa
                    verarbeitet. Wir haben dazu mit Microsoft eine Vereinbarung zur
                    Auftragsverarbeitung entsprechend Art. 28 Abs. 3 DSGVO abgeschlossen.
                </p>
                <p class="mb-3">
                    Weitere Angaben zum Thema Verarbeitung in der Azure-Cloud finden Sie unter
                    https://azure.microsoft.com/de-de/explore/trusted-cloud/privacy/.
                </p>
            </div>

            <div class="text-gray-700 text-lg mt-6">Google Fonts</div>
            <div class="text-base mb-4">
                <p class="mb-3">In unserem Internetauftritt setzen wir Google Fonts zur Darstellung externer
                    Schriftarten ein. Es handelt sich hierbei um einen Dienst der Google Ireland Limited,
                    Gordon House, Barrow Street, Dublin 4, Irland, nachfolgend nur „Google“ genannt.</p>
                <p class="mb-3">Um die Darstellung bestimmter Schriften in unserem Internetauftritt zu ermöglichen, wird
                    bei Aufruf unseres Internetauftritts eine Verbindung zu dem Google-Server in den USA aufgebaut.</p>
                <p class="mb-3">Rechtsgrundlage ist Art. 6 Abs. 1 lit. f) DSGVO. Unser berechtigtes Interesse liegt in
                    der Optimierung und dem wirtschaftlichen Betrieb unseres Internetauftritts.</p>
                <p class="mb-3">Durch die bei Aufruf unseres Internetauftritts hergestellte Verbindung zu Google kann
                    Google ermitteln, von welcher Website Ihre Anfrage gesendet worden ist und an welche IP-Adresse die
                    Darstellung der Schrift zu übermitteln ist.</p>
                <p class="mb-3">Google bietet unter</p>
                <p class="mb-3"><a href="https://adssettings.google.com/authenticated" target="_blank"
                        rel="noopener nofollow">https://adssettings.google.com/authenticated</a></p>
                <p class="mb-3"><a href="https://policies.google.com/privacy" target="_blank"
                        rel="noopener nofollow">https://policies.google.com/privacy</a></p>
                <p class="mb-3">weitere Informationen an und zwar insbesondere zu den Möglichkeiten der Unterbindung der
                    Datennutzung.</p>
            </div>

            <div class="text-gray-700 text-lg mt-6">Google AdWords mit Conversion-Tracking</div>
            <div class="text-base mb-4">
                <p class="mb-3">In unserem Internetauftritt setzen wir die Werbe-Komponente Google AdWords und dabei das
                    sog.
                    Conversion-Tracking ein. Es handelt sich hierbei um einen Dienst der Google Ireland Limited, Gordon
                    House, Barrow Street, Dublin 4, Irland, nachfolgend nur „Google“ genannt.</p>
                <p class="mb-3">Wir nutzen das Conversion-Tracking zur zielgerichteten Bewerbung unseres Angebots. Im
                    Falle einer von
                    Ihnen erteilten Einwilligung für diese Verarbeitung ist Rechtsgrundlage Art. 6 Abs. 1 lit. a DSGVO.
                    Rechtsgrundlage kann auch Art. 6 Abs. 1 lit. f DSGVO sein. Unser berechtigtes Interesse liegt in der
                    Analyse, Optimierung und dem wirtschaftlichen Betrieb unseres Internetauftritts.</p>
                <p class="mb-3">Falls Sie auf eine von Google geschaltete Anzeige klicken, speichert das von uns
                    eingesetzte
                    Conversion-Tracking ein Cookie auf Ihrem Endgerät. Diese sog. Conversion-Cookies verlieren mit
                    Ablauf von 30 Tagen ihre Gültigkeit und dienen im Übrigen nicht Ihrer persönlichen Identifikation.
                </p>
                <p class="mb-3">Sofern das Cookie noch gültig ist und Sie eine bestimmte Seite unseres Internetauftritts
                    besuchen,
                    können sowohl wir als auch Google auswerten, dass Sie auf eine unserer bei Google platzierten
                    Anzeigen geklickt haben und dass Sie anschließend auf unseren Internetauftritt weitergeleitet worden
                    sind.</p>
                <p class="mb-3">Durch die so eingeholten Informationen erstellt Google uns eine Statistik über den
                    Besuch unseres
                    Internetauftritts. Zudem erhalten wir hierdurch Informationen über die Anzahl der Nutzer, die auf
                    unsere Anzeige(n) geklickt haben sowie über die anschließend aufgerufenen Seiten unseres
                    Internetauftritts. Weder wir noch Dritte, die ebenfalls Google-AdWords einsetzten, werden hierdurch
                    allerdings in die Lage versetzt, Sie auf diesem Wege zu identifizieren.</p>
                <p class="mb-3">Durch die entsprechenden Einstellungen Ihres Internet-Browsers können Sie zudem die
                    Installation der
                    Cookies verhindern oder einschränken. Gleichzeitig können Sie bereits gespeicherte Cookies jederzeit
                    löschen. Die hierfür erforderlichen Schritte und Maßnahmen hängen jedoch von Ihrem konkret genutzten
                    Internet-Browser ab. Bei Fragen benutzen Sie daher bitte die Hilfefunktion oder Dokumentation Ihres
                    Internet-Browsers oder wenden sich an dessen Hersteller bzw. Support.</p>
                <p class="mb-3">Ferner bietet auch Google unter</p>
                <p class="mb-3"><a href="https://services.google.com/sitestats/de.html" target="_blank"
                        rel="noopener nofollow">https://services.google.com/sitestats/de.html</a></p>
                <p class="mb-3"><a href="https://www.google.com/policies/technologies/ads/" target="_blank"
                        rel="noopener nofollow">https://www.google.com/policies/technologies/ads/</a></p>
                <p class="mb-3"><a href="http://www.google.de/policies/privacy/" target="_blank"
                        rel="noopener nofollow">http://www.google.de/policies/privacy/</a></p>
                <p class="mb-3">weitergehende Informationen zu diesem Thema und dabei insbesondere zu den Möglichkeiten
                    der
                    Unterbindung der Datennutzung an.</p>
            </div>

            <div class="text-gray-700 text-lg mt-6">E-Mail-Versand</div>
            <div class="text-base mb-4">
                <p class="mb-3">
                    Zur Versendung von E-Mails auf der Genogramm Designer Plattform nutzen wir die Dienstleistungen von
                    Sendgrid.
                </p>
                <p class="mb-3">
                    Sendgrid ist ein E-Mail-Service der Firma Twilio Inc., 889 Winslow Street, Redwood City, California,
                    94063, USA.
                </p>
                <p class="mb-3">
                    Twilio verarbeitet personenbezogene Daten auch außerhalb der EU, z. B. in den USA. Als Grundlage für
                    den internationalen Datentransfer setzt Twilio zusätzliche Sicherheitsmaßnahmen wie ein Transfer
                    Impact Assessment und die Standardvertragsklauseln der EU-Kommission ein. Wir haben mit Twilio
                    eine Vereinbarung zur Auftragsverarbeitung nach Art. 28 Abs. 3 DSGVO abgeschlossen. Mehr zum Thema
                    Datenschutz bei Twilio finden Sie unter https://www.twilio.com/legal/privacy.
                </p>
                <p class="mb-3">
                    Grundlage für die Verarbeitung der personenbezogenen Daten ist Ihre Einwilligung nach Art. 6 Abs. 1
                    lit a. DSGVO. Sie können diese Einwilligung jederzeit widerrufen.
                </p>
            </div>

            <div class="text-gray-700 text-lg mt-6">Kontaktanfragen / Kontaktmöglichkeit</div>
            <div class="text-base mb-4">
                <p class="mb-3">
                    Sofern Sie per Kontaktformular oder E-Mail mit uns in Kontakt treten, werden die dabei von Ihnen
                    angegebenen Daten zur Bearbeitung Ihrer Anfrage genutzt. Die Angabe der Daten ist zur Bearbeitung
                    und Beantwortung Ihre Anfrage erforderlich - ohne deren Bereitstellung können wir Ihre Anfrage nicht
                    oder allenfalls eingeschränkt beantworten.
                </p>
                <p class="mb-3">
                    Rechtsgrundlage für diese Verarbeitung ist Art. 6 Abs. 1 lit. b) DSGVO.
                </p>
                <p class="mb-3">
                    Ihre Daten werden gelöscht, sofern Ihre Anfrage abschließend beantwortet worden ist und der Löschung
                    keine gesetzlichen Aufbewahrungspflichten entgegenstehen, wie bspw. bei einer sich etwaig
                    anschließenden Vertragsabwicklung.
                </p>

                <div class="text-gray-700 text-lg mt-6">Google Ads mit Conversion-Tracking</div>
                <p class="mb-3">
                    Wir nutzen das Conversion-Tracking zur zielgerichteten Bewerbung unseres Angebots. Rechtsgrundlage
                    ist Art. 6 Abs. 1 lit. f DSGVO. Unser berechtigtes Interesse liegt in der Analyse, Optimierung
                    und dem wirtschaftlichen Betrieb unserer Plattform.
                </p>
                <p class="mb-3">
                    Wenn Sie in unseren Cookie-Einstellungen den Einsatz von Marketing-Cookies ausgeschaltet haben,
                    werden auch keine Cookies von Google Ads gesetzt und das Tracking ist ausgeschaltet.
                    Falls Sie auf eine von Google geschaltete Anzeige klicken, speichert das von uns eingesetzte
                    Conversion-Tracking ein Cookie auf Ihrem Endgerät. Diese sog. Conversion-Cookies verlieren mit
                    Ablauf von 30 Tagen ihre Gültigkeit und dienen im Übrigen nicht Ihrer persönlichen Identifikation.
                </p>
                <p class="mb-3">
                    Sofern das Cookie noch gültig ist und Sie eine bestimmte Seite unseres Internetauftritts besuchen,
                    können sowohl wir als auch Google auswerten, dass Sie auf eine unserer bei Google platzierten
                    Anzeigen
                    geklickt haben und dass Sie anschließend auf unseren Internetauftritt weitergeleitet worden sind.
                </p>
                <p class="mb-3">
                    Durch die so eingeholten Informationen erstellt Google uns eine Statistik über den Besuch unseres
                    Internetauftritts. Zudem erhalten wir hierdurch Informationen über die Anzahl der Nutzer, die auf
                    unsere Anzeige(n) geklickt haben sowie über die anschließend aufgerufenen Seiten unseres
                    Internetauftritts. Weder wir noch Dritte, die ebenfalls Google-Ads einsetzen, werden hierdurch
                    allerdings in die Lage versetzt, Sie auf diesem Wege zu identifizieren.
                </p>
                <p class="mb-3">
                    Durch die entsprechenden Einstellungen Ihres Internet-Browsers können Sie zudem die Speicherung der
                    Cookies verhindern oder einschränken. Gleichzeitig können Sie bereits gespeicherte Cookies jederzeit
                    löschen. Die hierfür erforderlichen Schritte und Maßnahmen hängen jedoch von Ihrem konkret genutzten
                    Internet-Browser ab. Bei Fragen benutzen Sie daher bitte die Hilfefunktion oder Dokumentation Ihres
                    Internet-Browsers oder wenden sich an dessen Hersteller bzw. Support.
                </p>
                <p class="mb-3">
                    Ferner bietet auch Google unter https://www.google.com/policies/technologies/ads/ oder
                    http://www.google.de/policies/privacy/ weitergehende Informationen zu diesem Thema und dabei
                    insbesondere zu den Möglichkeiten der Unterbindung der Datennutzung an.
                </p>
            </div>

            <br />

            <div class="mt-4">
                Diese Erklärung wurde unter anderem mit Hilfe der Vorlage der Anwaltskanzlei Weiß & Partner
                https://www.ratgeberrecht.eu erstellt.
            </div>
        </div>

    </div>
</div>