ul li {
    margin-bottom: 8px;
}

.fill {
    object-fit: fill;
  }
  
  .contain {
    object-fit: contain;
  }
  
  .cover {
    object-fit: cover;
  }
  
  .none {
    object-fit: none;
  }
  
  .scale-down {
    object-fit: scale-down;
  }