<div class="bg-gray-100 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">
            <h1 class="mb-6 text-xl md:text-2xl">
                {{ pageTitle }}
            </h1>
            
            <div class="flex justify-center items-center mt-8">
                <img priority src="/assets/technik/Fotolia_96342109_XS_.png" width="804" height="468" sizes="100vw" alt="Genogramm Designer Mobil">
            </div>

            <p class="text-base mt-4">
                Bei der Auswahl einer Software stehen neben den inhaltlichen Aspekten auch funktionale,
                ergonomische und wirtschaftliche Aspekte im Fokus. Die verwendete Technologie spielt eine große
                Rolle, da sich hierüber die Stabilität einer Lösung bestimmt und es um die Zukunftssicherheit
                Ihrer Investition geht.
            </p>
            <div class="text-base mt-4">
                <div class="ml-8">
                    <ul class="list-disc list-outside">
                        <li>Dem “look & feel” der Microsoft Office Produkte angepasst</li>
                        <li>Volle Touchscreen Unterstützung ab WIN 8.1</li>
                        <li>Terminal-Server-fähig</li>
                    </ul>
                </div>
            </div>

            <p class="mb-6 text-xl md:text-2xl mt-10">
                Mindestvoraussetzung Arbeitsstation
            </p>
            <p class="text-xl mt-6">
                Betriebssystem
            </p>
            <div class="ml-8 mt-4">
                <ul class="list-disc list-outside">
                    <li>Windows 7, Windows 8.0, Windows 8.1 (mit den jeweils aktuellsten Servicepacks)</li>
                    <li>Windows 10 und Windows 11 (mit den jeweils aktuellsten Servicepacks)</li>
                    <li>Es werden 32-Bit-Varianten und 64-Bit-Varianten unterstützt</li>
                </ul>
            </div>

            <div class="mt-4">
                <p class="text-base mt-6">
                    Für Mac und iPad Besitzer
                </p>
                <div class="mt-2">
                    <ul class="list-none text-base">
                        <li>Sorry 😥. Der Genogramm Designer benötigt ein Windows Betriebssystem und ist somit
                            <u>nicht lauffähig</u> auf Ihrem Gerät.
                        </li>
                    </ul>
                </div>
            </div>

            <p class="text-xl mt-6 ">
                Prozessor
            </p>
            <div class="ml-8 mt-4">
                <ul class="list-disc list-outside">
                    <li>2 Kerne à 2 GHz oder vergleichbar (Intel Core 2 Duo, AMD Athlon X2)</li>
                </ul>
            </div>

            <p class="text-xl mt-6 ">
                Speicher
            </p>
            <div class="ml-8 mt-4">
                <ul class="list-disc list-outside">
                    <li>> 2GB</li>
                </ul>
            </div>

            <p class="text-xl mt-6 ">
                Bildschirmauflösung
            </p>
            <div class="ml-8 mt-4">
                <ul class="list-disc list-outside">
                    <li>1024×768 mit 256 Farben bei Schriftgröße 100 % und Punktdichte 96 dpi gemäß
                        Bildschirmarbeitsplatz-Richtlinie der EU</li>
                </ul>
            </div>

            <p class="text-xl mt-6 ">
                Fetplatte
            </p>
            <div class="ml-8 mt-4">
                <ul class="list-disc list-outside">
                    <li>500 MB freier Speicher</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- Register -->
<div class="p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="relative px-8 py-8 bg-white shadow-lg rounded-lg md:max-w-5xl md:mx-auto ">
        <div class="max-w-4xl mx-auto">

            <div class="container mx-auto flex px-4 py-4 md:flex-row flex-col items-center">
                <div class="w-full md:w-1/2">
                    <img class="object-cover object-center rounded" src="/call to action/665shots_so.png"
                        alt="genogramm designer logo">
                </div>

                <div class="flex flex-col w-full md:w-1/2 md:items-start md:text-left items-center text-center">
                    <div class="mb-6 text-xl md:text-2xl">
                        Fordern Sie Ihre <br> persönliche Testversion an!
                    </div>
                    <p class="text-base mt-4">
                        Überzeugen Sie sich vor dem Kauf von der Leistungsfähigkeit des ‘Genogramm Designer’. Fordern
                        Sie Ihre kostenlose Testversion an und testen Sie das Programm 14 Tage auf ‘Herz und Nieren’.
                        <br>
                        Kostenfrei und natürlich ohne Verbindlichkeiten.
                    </p>
                    <p class="text-base mt-4">
                        Nach der Registrierung erhalten Sie Ihre Zugangsdaten und weitere Informationen per E-Mail.
                    </p>
                    <button [routerLink]="['/register']"
                        class="flex mx-auto mt-10 py-2 px-8 text-lg text-white focus:outline-none bg-green-700 hover:bg-amber-700 border-0">
                        Zur Testversion
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>